<% if @show %>
  <div class="container">
    <div class="alert m-2 alert-info">
      <h1>ログイン</h1>
    <% if sent? %>
      <%=h @email %>に届いた6桁の数字を入力してください。
      <%= form('login', context) %>
        <div class="form-row align-items-center my-2">
          <div class="col-auto">
            <input type="password" name="password" class="form-control" id="loginCode" placeholder="6桁の数字">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">ログイン</button>
          </div>
        </div>
      </form>
      <div class="mt-3">
        <%=a('resend', {}, context) %>はじめからやり直す</a>
      </div>
    <% else %>
      次のアドレスにワンタイムパスワードを送ります。
      <%= form('send', context) %>
        <div class="form-row align-items-center my-2">
          <div class="col-auto">
           <input type="email" name="email" class="form-control" id="loginEmail"
              value="<%=h @curr_hint %>"
              aria-describedby="emailHelp" placeholder="E-Mail">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">送信</button>
          </div>
      </form>
    <% end %>
    </div>
  </div>
<% end %>